<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="loadPath" value="c:\"/>
    <add key="savePath" value="c:\"/>
    <add key="homeLink" value="https://archive.org/details/softwarelibrary_apple"/>
    <add key="firstRun" value="0"/>
  </appSettings>
</configuration>